<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <title>{% block title %}My Webpage{% endblock %}</title>

    {% block extra_head %}{% endblock %}
</head>

<body>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        &copy; 2026
        {% endblock %}
    </footer>

</body>
</html>